* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 360px;
}

footer {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
  width: 100vw;
  min-width: 350px;
  color: rgba(59, 99, 104);
  background-color: #f2f2f2;
}

.foot {
  position: relative;
  border-top: 1px solid #e4e4e4;
}

.foot-link {
  padding-left: 27px;
  line-height: 40px;
}

.footer-span {
  margin-left: 3px;
  padding-right: 30px;
}
.footer-right {
  position: absolute;
  display: inline-block;
  right: 0px;
}

.footer-info {
  font-size: 14px;
}

.footer-country {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  margin-left: 3px;
}

.nav-bar {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-ul {
  line-height: 24px;
  padding: 16px 30px;
  display: flex;
  align-items: center;
}

.nav-bar > ul > li {
  display: inline-block;
  margin-left: 15px;
}

.dots-app {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.dots {
  height: 25px;
  opacity: 0.7;
}

.login {
  color: white;
  font-weight: bold;
  padding: 3px 15px;
  background-color: #4285f4;
  border-radius: 3px;
}

.login > a:hover {
  text-decoration: none;
}

.login:hover {
  background-color: #5c96f5;
}

.search @media (max-width: 850px) {
  .footer {
    font-size: 14px;
  }
  .footer-span {
    display: block;
    text-align: center;
    padding-right: 0px;
    margin: auto;
  }
  .footer-right {
    position: static;
  }
  .footer-min {
    padding-left: 0;
  }
}

@media (max-height: 700px) {
  .serach-logo {
    margin-top: 95px;
  }
}

@media (max-height: 535px) {
  #logo-google {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .search-logo {
    margin-top: -5px !important;
  }
}
@media (max-width: 485px) {
  .footer-third {
    display: block;
    text-align: center;
    padding-left: 0;
  }
  .footer-min {
    padding-left: 27px;
  }
}
